@use "../../utils/functions/" as *;
@use "../../utils/mixins/" as *;

.solution {
  padding: 118px 0;

  &__wrapper {
    display: flex;
    gap: 24px;
  }

  &__content {
    width: 100%;
    max-width: 494px;
  }

  h2 {
    margin-bottom: 6px;
    text-align: left;
  }

  p {
    line-height: 1.62;
  }

  .subtext {
    margin-bottom: 13px;
    text-align: left;
  }

}
