@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.contacts {
  padding: rem(120) 0;
  
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    z-index: 2;
    width: 100%;
    max-width: 716px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    gap: 24px;

    label {
      width: 100%;
    }

    input {
      position: relative;
      border: 1px solid rgba(50, 50, 50, 0.36);
      border-radius: 10px;
      padding: 8px 20px;
      width: 100%;
      max-width: 100%;
      font-weight: var(--fw-700);
      font-size: 14px;
      line-height: 1.86;

      // &::placeholder {
      //   color: rgba(50, 50, 50, 0.36);
      // }

      &::before {
        content: "";
        position: absolute;
        display: block;
        margin-bottom: 16px;
        width: 24px;
        height: 24px;
        background-image: url("../images/icons/account.svg");
        background-position: 0 0;
        background-size: cover;
        background-repeat: no-repeat;
      }

      &[type="email"] {
        color: red;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 12px;

    &::before {
      content: "";
      position: relative;
      width: 24px;
      height: 24px;
      background-image: url("../images/icons/email.svg");
      background-position: 0 0;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  h2 {
    margin-bottom: rem(48);
    text-align: left;
    font-size: clamp(1.5rem, 1rem + 2.2222vi, 3rem);
    line-height: 1.06;
    color: var(--color-blue-800);
  }

  @include media(tablet) {
    padding-bottom: 40px;

    &__wrapper {
      padding: 24px;
    }

    img {
      right: 0;
    }

    input {
      background-color: var(--color-green-400);
    }
  }

  @include media(mobile-l) {
    padding-top: 50px;
  }

  @include media(mobile-m) {
    &__form {
      flex-direction: column;

      .btn {
        max-width: 100%;
      }
    }
  }

  @include media(mobile-sm) {
    padding-top: 10px;
  }
}
